# Image assets
src/assets/images


# Environment variables
.env
.env.dev
.env.prod


# Vite files
.vite
build
dist


# Firebase files
firebase.json
.firebase


# Generation texts
generation


# Node modules
node_modules


# OS and IDE files
.DS_Store
.vscode